@*
    Partial View: Tekrar kullanılabilir küçük görünüm parçaları oluşturmak için kullanılır.
    Dosya adı genellikle "_" (alt çizgi) ile başlar. Bu, dosyanın bir partial view olduğunu belirtir.
    Çağırmak için: @Html.Partial("_CategoryList") veya @await Html.PartialAsync("_CategoryList")
*@

<div class="col-md-3">
    <h3>Kategoriler</h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Elektronik</a></li>
        <li class="list-group-item"><a href="#">Kitaplar</a></li>
        <li class="list-group-item"><a href="#">Giyim</a></li>
        <li class="list-group-item"><a href="#">Ev & Yaşam</a></li>
        <li class="list-group-item"><a href="#">Oyun</a></li>

    </ul>
</div>

