@using _07_custom_helpers.Helpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @StringHelper.CapializeWord("hello world from custom helpers")
    <br />
    @ViewBag.Message
</div>

<div class="text-center">
    @StringHelper.TumHarfleriBuyukYap("hello world from custom helpers")
    <br />
    @ViewBag.Message
</div>