@using _07_custom_helpers.Helpers
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    @StringHelper.TersCevir("hello world from custom helpers")
    <br />
    @ViewBag.Message
</div>
