<div class="container mt-5">
    <h3>Senaryo 2: Yönlendirme Sonrası (RedirectToAction)</h3>
    <p class="text-muted">Buraya 'VeriYukleVeYonlendir' metodundan zıplayarak geldik.</p>
    <hr />

    @if (ViewBag.Mesaj == null)
    {
        <div class="alert alert-danger">
            <strong>ViewBag:</strong> Veri Kayboldu! (NULL)
        </div>
    }
    else
    {
        <div class="alert alert-success">@ViewBag.Mesaj</div>
    }

    @if (ViewData["Mesaj"] == null)
    {
        <div class="alert alert-danger">
            <strong>ViewData:</strong> Veri Kayboldu! (NULL)
        </div>
    }
    else
    {
        <div class="alert alert-success">@ViewData["Mesaj"]</div>
    }

    @if (TempData["Mesaj"] != null)
    {
        <div class="alert alert-success border-3 border-success">
            <strong>TempData:</strong> @TempData["Mesaj"] <br />
            (Bakın ben ölmedim!)
        </div>
    }

    <a asp-action="Index" class="btn btn-secondary mt-3">Geri Dön</a>
</div>