@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



@section Scripts {
    <script>
        //Bu script, layouttaki await RenderSectionAsync("Scripts") alanına eklenir.
        alert("Privacy sayfasına özel bir script çalıştı.");
        console.log("Privacy sayfasının script bölümü çalıştı.");
    </script>
}